<h3 class="text-center mb-5", id="page_title">サービスを作成</h3>

<div class="container">
  <div class="form_edit">
    <%= form_with(model: @service, local: true) do |f| %>
      <%= f.text_field :title, class: "form-control", placeholder: "サービスのタイトルを入力"%>
      <%= f.text_area :additional_explanation, class: "form-control", rows: "3", placeholder: "サービスの補足説明を入力" %>
      <%= f.text_area :content, class: "form-control", rows: "3", placeholder: "サービスの内容を入力" %>
      <%= f.select :service_category, ["作曲", "作詞", "歌入れ", "ミキシング/マスタリング", "ミキシング/マスタリング（ボーカル補正）", "BGM・SE", "音声編集", "相談", "レッスン", "出演"], {}, class: 'form-control' %>
      <%= f.file_field :image %><br><br>
      <p class="text-center"><%= f.submit "サービスを作成", class: "btn btn-primary" %></p>
    <% end %>
  </div>
    <%= link_to "プロフィールに戻る", user_path(current_user.id) %>
</div>