<h1 class="text-center mb-5">マイページ編集フォーム</h1>
<div class="container">

<%= form_with(model: @user, local: true ) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。 </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <%= form.label :profile %>
    <%= form.text_field :profile %>
    <%= form.label :avatar_image %>
    <%= form.file_field :avatar_image %>
    <p><%= form.submit %></p>
<% end %>

</div>
