<h3 class="text-center mb-5", id="page_title">プロフィールを編集</h3>

<div class="container">
  <div class="row">
    <div class="form_edit">
      <%= form_with(model: @user, local: true ) do |f| %>
        <div class="col-sm-6">
          <label class="control-label">ユーザー名</label>
          <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name", placeholder: "ユーザー名を入力" %>
        </div>
        <div class="col-sm-10">
          <label class="control-label">メールアドレス</label>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力" %>
        </div>
        <div class="col-sm-6">
          <label class="control-label">楽器</label>
          <%= f.text_field :instrument, class: "form-control", autofocus: true, autocomplete: "instrument", placeholder: "楽器を入力" %>
        </div>
        <div class="col-sm-3">
          <label class="control-label">楽器歴（年）</label>
          <%= f.number_field :has_been, class: "form-control", autofocus: true, autocomplete: "has_been" %>
        </div>
        <div class="col-sm-12">
          <label class="control-label">プロフィール</label>
          <%= f.rich_text_area :profile %>
        </div>
        <br>
        <div class="col-sm-12">
          <label class="control-label">プロフィールの補足説明（検索画面に公開されます）</label>
          <%= f.text_area :additional_explanation, class: "form-control", autofocus: true, placeholder: "プロフィールの補足説明を入力", row: "3" %>
        </div>
        <div class="col-sm-12">
          <label class="control-label">性別</label>
          <div class="checkbox">
            <label><%= f.radio_button :sex, "男" %> 男  </label>
          </div>
          <div class="checkbox">
            <label><%= f.radio_button :sex, "女" %> 女 </label>
          </div>
        </div>
        <br>
        <div class="col-sm-12">
          <label class="control-label">検索画面に公開する動画</label>
          <%= f.text_field :video, class: "form-control", placeholder: "YouTubeの動画のURLを登録" %>
        </div>
        <div class="col-sm-3">
          <label class="control-label">プロフィール画像</label>
          <%= f.file_field :avatar_image, class: "js-file-upload"%>
        </div>
        <br><br>
        <p class="text-center"><%= f.submit "編集内容を送信", class: "btn btn-warning" %></p>
      <% end %>
    </div>
  </div>
</div>
