<h1>機材一覧</h1>

<p><%= notice %></p>

<table>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
    </tr>

    <% @gears.each do |gear| %>
    <tr>
        <td><%= gear.title %></td>
        <td><%= gear.content %></td>
        <td><%= link_to '詳細を確認する', gear_path(gear.id) %></td>
        <td><%= link_to "機材を編集する", edit_gear_path(gear.id), data: { confirm: '本当に編集していいですか？' } %></td>
        <td><%= link_to 'を削除する', gear_path(gear.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
    <% end %>
</table>