<div class="site-wrapper" id="users_top">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-3">
        <%= render "search_form"%>
      </div>
      <div class="col-md-9" >
      <div class="card-deck">
        <% @users.reverse_each do |user| %>
          <%= link_to user_path(user.id) do %>
            <div class="col-sm-4">
              <div class="card text-white " id="index">
                <% if user.avatar_image_url.nil?%>
                  <%= image_tag "/assets/onerror2.png", size: 150, class: "card-img-top" %>
                <% else %>
                  <%= image_tag user.avatar_image_url, size: 150, class: "card-img-top" %>
                <% end %>
                  <div class="card-body card-body-gray text-white">
                    <p class="text-warning"><%= user.name  %></p>
            <% end %>
                    <div class="additional_explanation"><%= user.additional_explanation%></div>
                  </div>
                  <% if user.video.blank? %>
                  <% else %>
                    <%= raw(youtube_embed_free(user.video)) %>
                  <% end %>
              </div>
            </div>  
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>