<div class="container mt-3">
    <div class="row">
        <div class="col-md-8" >
            <% if @user.avatar_image_url.nil?%>
                <%= image_tag "/assets/onerror.png" %>
            <% elsif %>
                <%= image_tag @user.avatar_image_url, onerror: "/assets/onerror.png", height: 200, class: "rounded-circle" %>
            <% end %>
            名前: <%= @user.name%>
            　性別: 
            <% case @user.sex %>
                <% when "男" then %>
                男
                <% when "女" then %>
                女
                <% else %>
                登録されていません
            <% end%>
            <% if @user.has_been.nil? %>
            <%else%>
            　<%= @user.instrument %>歴 <%= @user.has_been %>年
            <% end %>

            <br><br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a href="#photo1" class="nav-link active" data-toggle="tab">Profile</a>
                </li>
                <li class="nav-item">
                <a href="#photo2" class="nav-link" data-toggle="tab">Portfolio</a>
                </li>
                <li class="nav-item">
                <a href="#photo3" class="nav-link" data-toggle="tab">Gear</a>
                </li>
                <li class="nav-item">
                <a href="#photo4" class="nav-link" data-toggle="tab">Product</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="photo1" class="tab-pane active">
                    <%= @user.profile%><br>
                </div>
                <div id="photo2" class="tab-pane">
                    <% if @user.portfolio.present? %>
                        <% if @user.portfolio.portfolio01.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolio.portfolio01)) %>
                        <% end %>
                        <% if @user.portfolio.portfolio02.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolio.portfolio02)) %>
                        <% end %>
                        <% if @user.portfolio.portfolio03.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolio.portfolio03)) %>
                        <% end %>
                        <% if @user.portfolio.portfolio04.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolio.portfolio04)) %>
                        <% end %>
                        <% if @user.portfolio.portfolio05.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolio.portfolio05)) %>
                        <% end %>
                    <% else%>
                    <p>ポートフォリオは登録されていません</p>
                    <% end%>
                </div>
                <div id="photo3" class="tab-pane">
                    <% @gears.each do |gear|%>
                    <div class="text-center">
                        <% if gear.image_url.blank?%>
                        <% else %>
                            <%= image_tag gear.image_url,height: 260, class: "img-responsive" %>
                        <% end %>
                        <p><strong><%= gear.name %></strong></p>
                    </div>
                    <% end %>
                </div>
                <div id="photo4" class="tab-pane">
                    <% @products.each do |product|%>
                    <div class="text-center">
                        <p><strong><%= product.song_title %></strong></p>
                        <%= product.content%>
                        <% if product.video.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(product.video)) %>
                        <% end %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <% if user_signed_in? %>
                <% if @user.id == current_user.id %> 
                <% else%>
                    <p class="text-center mt-5"><%= link_to 'リクエストを送ってみる', new_request_path(host_id: @user.id), class: "btn btn-warning btn-block" %></p>
                <% end %>
            <% else %>
                <p class="text-center mt-5"><%= link_to 'リクエストを送ってみる', new_user_session_path, class: "btn btn-warning btn-block" %></p>
            <% end %>
            <p class="text-center mt-5">このようなリクエストに応えます。</p>
            <% @user.services.each do |service| %>
                <p class="text-center service_top"><%= service.title %></p>
                <%= service.content%>
                カテゴリー: <%= service.service_category%>
                <br>
            <% end %>
        </div>
    </div>
</div>