<h3 class="text-center mb-5", id="page_title">プロフィール</h3>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <% if @user.avatar_image_url.nil?%>
                <%= image_tag "/assets/onerror.png", size: 200, class: "rounded-circle" %>
            <% elsif %>
                <%= image_tag @user.avatar_image_url, onerror: "/assets/onerror.png", size: 200, class: "rounded-circle" %>
            <% end %>
            名前: <%= @user.name%>
            <br><br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a href="#photo1" class="nav-link active" data-toggle="tab">Profile</a>
                </li>
                <li class="nav-item">
                <a href="#photo2" class="nav-link" data-toggle="tab">Portfolio</a>
                </li>
                <li class="nav-item">
                <a href="#photo3" class="nav-link" data-toggle="tab">Event</a>
                </li>
                <li class="nav-item">
                <a href="#photo4" class="nav-link" data-toggle="tab">Product</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="photo1" class="tab-pane active">
                    <%= @user.profile%><br>
                    <%= link_to 'Top', root_path %>
                </div>
                <div id="photo2" class="tab-pane">
                    <% if @user.portfolios.present? %>
                        <% if @user.portfolios.first.portfolio01.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolios.first.portfolio01)) %>
                        <% end %>
                        <% if @user.portfolios.first.portfolio02.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolios.first.portfolio02)) %>
                        <% end %>
                        <% if @user.portfolios.first.portfolio03.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolios.first.portfolio03)) %>
                        <% end %>
                        <% if @user.portfolios.first.portfolio04.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolios.first.portfolio04)) %>
                        <% end %>
                        <% if @user.portfolios.first.portfolio05.blank? %>
                        <% else %>
                            <%= raw(youtube_embed(@user.portfolios.first.portfolio05)) %>
                        <% end %>
                    <% else%>
                    <br>
                    ポートフォリオはありません。
                    <% end%>
                </div>
                <div id="photo3" class="tab-pane">
                    wwwwwwwwwwwwwwwwwww
                </div>
                <div id="photo4" class="tab-pane">
                okookg
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <%= link_to 'Recuest', new_request_path(@user.id) %><br>
            <% @services.each do |service| %>
                <%= link_to "test", service_path(service.id) %>
            <% end %>
            <div class="card" style="max-width: 25rem;">
                <!-- カード本文：card-body -->
                <div class="card-body">
                <!-- カード見出し：card-title -->
                <h4 class="card-title">@service.title</h4>
                <!-- カードの内容文：card-text -->
                <p class="card-text">カードの内容文が入awffafawfeafawefwfwります。</p>
                <a href="#" class="btn btn-primary">ボタン</a>
                </div>
            </div>
        </div>
    </div>
</div>