<h1>Requests#new</h1>
<p>Find me in app/views/requests/new.html.erb</p>

<%= form_with(model: @request, local: true ) do |form| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= @request.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="request_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="request_title">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
  <%= form.submit %>
  
<% end %>
<%= link_to "プロフィールに戻る", user_path(current_user.id) %>