
<div class="container">
  <div class="row">
    <div class="form_edit">
      <%= form_with(model: @product, local: true ) do |f| %>
        <div class="col-sm-6">
          <label class="control-label">曲名</label>
          <%= f.text_field :song_title, class: "form-control", placeholder: "曲名を入力"  %>
        </div>
        <div class="col-sm-12">
          <label class="control-label">メモタイトル</label>
          <%= f.text_field :title, class: "form-control", placeholder: "メモタイトルを入力"  %>
        </div>
        <div class="col-sm-6">
          <label class="control-label">楽器</label>
          <%= f.text_field :instrument, class: "form-control", placeholder: "楽器を入力"  %>
        </div>
        <div class="col-sm-12">
          <label class="control-label">内容</label>
          <%= f.rich_text_area :explanation, placeholder: "内容を入力" %>
        </div>
        <br>
        <div class="col-sm-12">
          <label class="control-label">動画</label>
          <%= f.text_field :video, class: "form-control", placeholder: "YouTubeの動画のURLを登録" %>
        </div>
        <br>
        <p class="text-center"><%= f.submit "取り組んだ曲を登録", class: "btn btn-warning" %></p>
      <% end %>
    </div>
  </div>
</div>