
<div class="container">
  <%= form_with(model: @product, url: products_path, local: true ) do |form| %>

    <div class="product_title">
      <%= form.label :song_title %>
      <%= form.text_field :song_title %>
    </div>
    <div class="product_title">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="product_title">
      <%= form.label :instrument %>
      <%= form.text_field :instrument %>
    </div>
    <div class="product_title">
      <%= form.label :score %>
      <%= form.number_field :score %>
    </div>
    <div class="product_title">
      <%= form.label :explanation %>
      <%= form.rich_text_area :explanation %>
    </div>
    <div class="product_title">
      <%= form.label :video %>
      <%= form.text_field :video %>
    </div>
    <div class="product_title">
    <br><br>
      <p class="text-center"><%= form.submit "自分の活動を記録", class: "btn btn-primary" %></p>
    </div>
    
  <% end %>
</div>