<h3 class="text-center mb-5", id="page_title">自分の活動を記録する</h3>
<div class="container">
  <%= form_with(model: @product, local: true ) do |form| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= @product.errors.count %>件のエラーがあります。</h2>
        <ul>

        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="product_title">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="product_title">
      <%= form.label :explanation %>
      <%= form.rich_text_area :explanation %>
    </div>
    <div class="product_title">
      <%= form.label :video %>
      <%= form.text_field :video %>
    </div>
    <div class="product_title">
    <br><br>
      <p class="text-center"><%= form.submit "自分の活動を記録", class: "btn btn-primary" %></p>
    </div>
    
  <% end %>
  <%= link_to "プロフィールに戻る", user_path(current_user.id) %>
</div>